<h1>About Capstone</h1>
<p>This project is meant to be a one-stop shop for organizing pictures on across one's devices, whether they be photos, artworks, or any other type of picture. It is intended to keep track of files &amp; allow users to tag their pictures so that they can easily search/sort them. In addition, it will hopefully allow you to post your pictures directly to social media.</p>
