<h1><%= collection_title(@user, current_user) %></h1>
<% @images.each do |image| %>
  <div class="collectionImageContainer">
    <%= image_tag image.uri, class: image_class(image), alt: image.title, size: image_size(image.aspect_ratio) %>
  </div>
<% end %>
